<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NewAdmin</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "new_admin/new_admin", nonce: true %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "new_admin/new_admin", nonce: true, type: "module" %>
  <% NewAdmin.configuration.custom_script_paths.each do |path| %>
    <%= javascript_include_tag path, nonce: true, type: "module" %>
  <% end %>
</body>
</html>
